.about-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 10em;
  padding-bottom: 10em;
  @media (max-width: 768px) {
    display: inline-block;
    width: 100%;
    margin: 0%;
    padding: 0%;
  }
  h2 {
    font-size: 2em;
  }

  &__about,
  &__contact {
    box-sizing: border-box;
    width: 48%;
    color: $grey;
  }

  &__about {
    padding-left: 5em;
    @media (max-width: 768px) {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }
  }

  &__contact {
    padding: 1em 10em;

    @media (max-width: 768px) {
      width: 100%;
      margin: 0%;
      padding: 0%;
    }

    &__ul {
      list-style-type: none;
      @media (max-width: 768px) {
        padding: 0%;
      }

      li {
        margin-top: 1em;
      }

      .li-tel {
        font-size: 1.5em;
      }

      .mail_footer {
        color: $grey;
        text-decoration: none;
        border-bottom: 1px solid $color-h3;
      }
    }

    .li-logo {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 15px;
    }
  }
}

.footer_footer {
  background-color: $darkest;
  text-align: center;
  padding: 2em;
}
