.about-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 10em;
  padding-bottom: 10em;

  h2 {
    font-size: 2em;
  }

  &__about,
  &__contact {
    box-sizing: border-box;
    width: 48%;
  }

  &__about {
    padding-left: 5em;
  }

  &__contact {
    padding: 1em 20em;

    &__ul {
      list-style-type: none;

      li {
        margin-top: 1em;
      }

      .li-tel {
        font-size: 1.5em;
      }

      .mail_footer {
        color: whitesmoke;
        text-decoration: none;
        border-bottom: 1px solid $color-h3;
      }
    }

    .li-logo {
      display: flex;
      flex-direction: row;
      list-style: none;
      gap: 15px;
    }
  }
}

.footer_footer {
  background-color: $darkest;
  text-align: center;
  padding: 2em;
}
