.etoiles {
  margin: 10%;
}

.title-p {
  font-family: "playfair display";
  color: whitesmoke;
  letter-spacing: 2px;
}

.nav {
  width: 30%;
  background-color: #111;
  .logo {
    margin: 10%;
    text-align: left;
    .title {
      font-size: 24px;
      color: #b3865b;
      margin: 0;
      letter-spacing: 20px;
      margin-top: 0%;
    }
  }

  ul {
    list-style: none;
    gap: 18px;
    display: flex;
    flex-direction: column;

    a {
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s ease;
      &:hover {
        color: #b3865b;
      }
    }
  }
}
