.nav {
  width: 20%;
  background-color: $darkest;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;

    &__etoiles {
      width: 8em;
    }

    &__title {
      font-size: 3em;
      color: $color-h3;
      margin: 0;
      letter-spacing: 10px;
    }

    &__subtitle {
      color: white;
      letter-spacing: 5px;
      font-size: 1.5em;

    }
  }

  &__ul {
    list-style: none;
    gap: 18px;
    display: flex;
    flex-direction: column;

    a {
      color: $grey;
      text-decoration: none;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: $color-h3;
      }
    }
  }
}