.nav {
  width: 20%;
  background-color: $darkest;
  position: fixed;
  height: 100%;

  &__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;

    &__etoiles {
      width: 8em;
    }

    &__title {
      font-size: 3em;
      color: $color-h3;
      margin: 0;
      letter-spacing: 10px;
    }

    &__subtitle {
      color: white;
      letter-spacing: 5px;
      font-size: 1.5em;
    }
  }

  &__ul {
    font-family: "Barlow Condensed";
    letter-spacing: 3px;
    font-weight: 500;
    list-style: none;
    gap: 18px;
    display: flex;
    flex-direction: column;
    .active {
      color: $color-h3;
    }

    a {
      color: $grey;
      text-decoration: none;
      font-size: 20px;
      transition: color 0.3s ease;

      &:hover {
        color: $color-h3;
      }
    }
  }

  &__phone {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5em;

    .flaticon-phone {
      font-size: 3em;
      color: $color-h3;
    }

    &__info {
      display: flex;
      flex-direction: column;
      padding-left: 1em;

      p {
        padding: 0;
        margin: 0;
        font-size: 1.5em;
      }
    }
  }
}
