.btn-index {
  background-color: $color-h3;
  font-family: "Barlow Condensed";
  color: whitesmoke;
  text-decoration: none;
  padding: 1em 1.5em;
  letter-spacing: 2px;
}

.btn-reserver {
  top: 4em;
  right: 0em;
  transform: rotate(270deg);
  border: 1px solid whitesmoke;
  letter-spacing: 3px;
  padding: 0.5em 1em;
  font-family: "Barlow Condensed";
  font-size: 1.5em;
  position: absolute;
  color: whitesmoke;
  text-decoration: none;
}