.overlay {
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  position: relative;
  height: 100vh;
}

.check {
  display: flex;
}
.room-details {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}
.logo {
  ul {
    color: rgb(148, 145, 145);
    li {
      list-style-type: none;
    }
  }
}

.Ducsman {
  color: #b0844c;
}
.heading {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  h3 {
    color: whitesmoke;
  }
}

.Hero-text {
  margin: 60px;
}
.Aménagements {
  width: 40%;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(108, 106, 106);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.checkmark {
  padding-right: 10px;
  padding-top: 5px;
}

.about-contact {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  div {
    color: #bbb;
    a {
      text-decoration: none;
      border-bottom: 2px solid #b3865b;
      padding-bottom: 5px;
      color: #bbb;
    }
  }
}

/* Réseaux */

.reseaux {
  margin-top: 5%;
  text-align: center;
}
.etoiles {
  text-align: center;
  width: 100px;
  height: 30px;
}
.checkmark {
  width: 20px;
  height: 20px;
}
.ti-user {
  color: #b0844c;
}
