.overlay {
  background-size: cover;
  width: auto;
  color: whitesmoke;
  text-align: center;
  position: relative;
  height: 90vh;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.main-bloc {
  width: 80%;
  margin-left: 20%;
  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
}

.check {
  display: flex;
  flex-wrap: wrap;
  ul {
    color: rgb(148, 145, 145);
    li {
      list-style-type: none;
    }
  }
  .checkmark {
    width: 20px;
    height: 20px;
    @media (max-width: 768px) {
      display: inline-block;
    }
  }
}
//room detail//
.room-details {
  display: flex;
  justify-content: space-between;
  gap: 10%;
  margin-right: 10%;
  flex-wrap: wrap;
  @media (max-width: 768px) {
    display: inline;
    gap: 0%;
    width: 100%;
    margin: 0%;
  }
}

.Ducsman {
  color: #b0844c;
}
.heading {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  h3 {
    color: whitesmoke;
  }
  .tara {
    mix-blend-mode: difference;

    margin: 0px;
    text-align: center;
    width: 100px;
    height: 30px;
  }
}

.Hero-text {
  margin: 60px;
  @media (max-width: 768px) {
    margin: 10px;
  }
}
.Aménagements {
  width: auto;
  .features {
    padding: 0%;
  }
  h2 {
    text-align: center;
  }
  ul {
    color: rgb(148, 145, 145);
    li {
      list-style-type: none;
      margin: 6%;
      //clamp
      font-size: clamp(1.125rem, 1.088rem + 0.16vw, 1.231rem);
    }
  }
  .ti-user {
    color: #b0844c;
    margin-right: 3%;
  }
  .flaticon-wifi {
    color: #b0844c;
    margin-right: 3%;
  }
  .ti-alarm-clock {
    color: #b0844c;
    margin-right: 3%;
  }

  .flaticon-breakfast {
    color: #b0844c;
    margin-right: 3%;
  }
  .flaticon-towel {
    color: #b0844c;
    margin-right: 3%;
  }
  .flaticon-swimming {
    color: #b0844c;
    margin-right: 3%;
  }
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: rgb(80, 78, 78);
  color: white;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.checkmark {
  padding-right: 10px;
  padding-top: 5px;
}
