.overlay {
  background-size: cover;
  width: 100%;
  color: whitesmoke;
  text-align: center;
  position: relative;
  height: 100vh;
}

.check {
  display: flex;
  ul {
    color: rgb(148, 145, 145);
    li {
      list-style-type: none;
    }
  }
}
.room-details {
  display: flex;
  justify-content: space-between;
  gap: 10%;
}

.Ducsman {
  color: #b0844c;
}
.heading {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  h3 {
    color: whitesmoke;
  }
  .etoiles {
    text-align: center;
    width: 100px;
    height: 30px;
  }
}

.Hero-text {
  margin: 60px;
}
.Aménagements {
  width: auto;
  h2 {
    text-align: center;
  }
  ul {
    color: rgb(148, 145, 145);
    li {
      list-style-type: none;
    }
  }
  .ti-user {
    color: #b0844c;
    margin: 2%;
  }
  .flaticon-wifi {
    color: #b0844c;
    margin: 2%;
  }
  .ti-alarm-clock {
    color: #b0844c;
    margin: 2%;
  }

  .flaticon-breakfast {
    color: #b0844c;
    margin: 2%;
  }
  .flaticon-towel {
    color: #b0844c;
    margin: 2%;
  }
  .flaticon-swimming {
    color: #b0844c;
    margin: 2%;
  }
}

.btn {
  display: inline-block;
  padding: 20px 30px;
  background-color: rgb(80, 78, 78);
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.checkmark {
  padding-right: 10px;
  padding-top: 5px;
}

.about-contact {
  display: flex;
  justify-content: space-between;
  gap: 80px;

  div {
    color: #bbb;
    a {
      text-decoration: none;
      border-bottom: 2px solid #b3865b;
      padding-bottom: 5px;
      color: #bbb;
    }
  }
}

.reseaux {
  margin-top: 5%;
  text-align: center;
}
.checkmark {
  width: 20px;
  height: 20px;
}
