.or {
  color: #b3865b;
  text-decoration: none;
}

/* Main */
.main_block {
  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
  .main-block-align {
    margin-left: 5%;
    margin-top: 5%;
  }
}

.main_contact {
  margin-top: 0%;
}
// Alignement texte, image

.list_infos {
  display: flex;
  flex-direction: column;
  text-align: left;
  list-style: none;
  gap: 10px;
  li {
    display: flex;
    align-items: center;

    h3,
    p {
      margin: 0;
      img {
        flex-shrink: 0; /* Empêche l'image de se déformer */
        .list_infos p {
          margin: 0;
        }
      }
    }
  }
}

.list_infos .mail {
  text-decoration: none;
  color: #b3865b;
}
.mail:hover {
  text-decoration: underline;
}
/* Contact Section */

.contact-info {
  p {
    color: rgb(148, 145, 145);
  }
  margin-bottom: 20px;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

// Button
.align {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: right;
  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .contact-form textarea {
      resize: none;
      height: 120px;
    }
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
}

//  Contact form
.form-group-row {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  .form-group-row input {
    flex: 1;
    min-width: 150px;
    textarea {
      width: 100%;
      resize: none;
      height: 120px;
      .button-submit {
        width: 150px;
        align-self: flex-start;
      }
    }
  }
}

// Title + Restons en contact
.contact-header,
.contact-info {
  max-width: 30%;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

.contact-header {
  float: left;
  max-width: 35%;

  .contact-info {
    float: left;
  }
}

// Button
.contact-form button {
  background-color: #b3865b;
  color: whitesmoke;
  border: none;
  height: 50px;
  width: 200px;
  button:hover {
    background-color: #8e684a;
  }
}

.button-submit {
  font-weight: 400;
  font-size: 1em;
  color: whitesmoke;
  letter-spacing: 5px;
}

/* Map */
.map iframe {
  margin-top: 10%;
  margin-left: 5%;
  width: 90%;
  border: none;
  margin-bottom: 10%;
}
