.or {
  color: #b3865b;
  text-decoration: none;
}

/* Main */
.main-block {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 20%;
  .block-align {
    margin-left: 5%;
    margin-top: 5%;
  }
}

.main-contact {
  margin-top: 0%;
  .mail {
    text-decoration: none;
    color: #b3865b;
  }
}

/* Contact Section */

.contact-info {
  p {
    color: rgb(148, 145, 145);
  }
  margin-bottom: 20px;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}
// Alignement texte, image

.logo-infos {
  display: flex;
  flex-direction: column;
  line-height: 1px; //Espacement entre les lignes
  text-align: left;

  .img-left {
    float: left;
  }
}

// Button
.align {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: right;
  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .contact-form textarea {
      resize: none;
      height: 120px;
    }
  }
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #333;
  background-color: #222;
  color: #fff;
  border-radius: 5px;
}

// ..........
.contact-form {
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
}

// Title + infos Restons en contact
.contact-header,
.contact-info {
  max-width: 30%;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 10px;
    }
  }
}

.contact-header {
  float: left;

  .contact-info {
    float: left;
  }
}

// Button
.contact-form button {
  background-color: #b3865b;
  color: whitesmoke;
  border: none;
  height: 50px;
  width: 200px;
  button:hover {
    background-color: #8e684a;
  }
}

.button-submit {
  font-weight: 400;
  font-size: 1em;
  color: whitesmoke;
  letter-spacing: 5px;
}

/* Map */
.map iframe {
  margin-left: 5%;
  width: 90%;
  height: 500%;
  border: none;
  margin-bottom: 10%;
}
