body {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.star5 {
	width: 10em
}

//NAV//

nav {
	width: ;
	flex-direction: column;
}


//HEADER//


.header_index {
	background-image: url(/ressources_Ducsman/images/slider/2.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 115vh;


	h1 {
		font-size: 7em;
		font-weight: 100;
		letter-spacing: 30px;
		margin: 0;
	}

	p {
		color: white;
		letter-spacing: 5px;
		padding: 1em;
		margin: 2em;

		&:last-of-type {
			border: 1px solid white;
			letter-spacing: 2px;

		}
	}
}








//SECTION1//


.section1_index {

	display: flex;
	flex-direction: row;
	background-color: #222222;
	width: 100%;
	border: 1px solid blue;


	&__text {
		width: 90%;
	}

	&__img {
		width: 20%;
		padding: 2em;

		&--1 {
			padding-top: 10em;
		}

		&--2 {
			padding-bottom: 10em;

		}
	}
}