.star5 {
  width: 10em;
}

//HEADER//








//SECTION1//

.section1_index {
  display: flex;
  flex-direction: row;
  background-color: #222222;
  width: 100%;
  padding: 3em;

  &__text {
    width: 90%;
    padding: 5em;
  }

  &__img {
    width: 20%;
    padding: 2em;

    &--1 {
      padding-top: 10em;
    }

    &--2 {
      padding-bottom: 10em;
    }
  }
}








//SECTION2//


.section2_index {
  padding: 2em;

  &__title {
    padding-left: 4vh;
    margin: 0;
  }

  &__chambres {

    display: flex;
    flex-flow: row wrap;

    .bloc_1chambre {
      margin: 2em;
      position: relative;


      &:nth-of-type(-n+3) {
        width: 30%;
      }

      &:nth-of-type(n+4):nth-child(-n+5) {
        width: 46%
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover
      }

      h3,
      h2,
      a {
        position: absolute;
        color: whitesmoke;
        text-decoration: none;
      }

      h3 {
        font-size: 2em;
        bottom: 4.5em;
        left: 1em;
        letter-spacing: 5px;
      }

      h2 {
        bottom: 0.5em;
        left: 0.5em;
        font-size: 3em;
      }

      a {
        top: 4em;
        right: 0em;
        transform: rotate(270deg);
        border: 1px solid whitesmoke;
        letter-spacing: 3px;
        padding: 0.5em 1em;
        font-family: "Barlow Condensed";
        font-size: 1.5em
      }
    }
  }
}







//SECTION 3//

.section3_index {
  display: flex;
  flex-flow: row wrap;
  padding: 4em 6em;
  margin: 5em 0em;

  &__text,
  img {
    width: 50%;
  }

  &__text {
    box-sizing: border-box;
    padding: 3em;
    padding-top: 6em;

    p {
      line-height: 2em;
      padding: 2em 0em;
      padding-bottom: 3em;
    }
  }
}






//SECTION4//


.section4_index {
  border: 1px solid blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  &__bloc_option {
    border: 1px solid red;


    h2 {
      font-size: 2em;
    }

    &--1 h2 {
      font-size: 3em;
      margin: 0;
    }

    .flaticon-phone,
    .ti-check {
      color: $color-h3;
    }

    .grey,
    .ti-close {
      color: rgb(148, 145, 145);
    }
  }
}