.menu-restaurant {
  list-style: none;
}

.gallery {
  gap: 10px;
}

.btn {
  background-color: #b3865b;
  color: whitesmoke;
  border: none;
  height: 500px;
  width: 200px;
  button:hover {
    background-color: #8e684a;
    .button-submit {
      font-weight: 400;
      font-size: 1em;
      color: whitesmoke;
      letter-spacing: 5%;
    }
  }
}

.main-restaurant {
  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 200%;
  .main-block-align {
    margin-left: 20%;
  }
}
